private
test
scripts
launch.json
*.back
.conda-timestamp
.archive.tar.gz
*.o
*.debug-o
*.opt-o
*.d
*.genozip
*.gz
*.bgz
*.bz2
*.xz
*.exe
*.new
windows
genozip-linux-x86_64
genozip
genounzip*
genocat*
genols*
!genols.[ch]
genozip-debug*
genozip-opt*
1000genomes/*
data/*
benchmark.txt
notes.txt
to do.txt
junk*
meta.yaml
windows/LICENSE.for-installer.txt
mac/darwinpkg/Library/genozip/*
!mac/darwinpkg/Library/genozip
mac/Resources/*
mac/scripts/*
!.gitkeep
.DS_Store
*.vcf*
*.bcf*
*.sam*
*.bam
*.cram
*.crai
*.fastq*
*.fq*
*.fa
*.fa.gz
*.fasta*
*.gvf*
*.gff3*
*.chain*
!test/*
test/*_ONLY.vcf
test/*rejects
!test/back-compat/*/*
test/*.genozip
test/tmp
*bug*
*stackdump
.altool_app_specifc_password
mac/.mac_username
mac/.mac_ip_address
mac/.remote_mac_timestamp
mac/.from_remote_timestamp
*.swp
.notarize.out
mac/*.pkg
fastq/*
lzma/unused
genome_*Full*
unix-nl.*
windows-nl.*
test.*
docs/_build
!docs/*.rst
!docs/genozip-linux-x86_64.tar.gz
utils/*
conda/README.md
*.local
*.b250
*.bad 
*.good
*.gcache
*.hcache
unused-code
genozip.threads-log.*
.genozip_license
dict_id_gen.c
core
