*-debug.exe
*.o
*.debug-o
*.d
genozip
genounzip
genocat
./genozip.exe
./genounzip.exe
./genocat.exe
1000genomes/*
data/*
benchmark.txt
notes.txt
to do.txt
junk*
meta.yaml
bld.bat
windows/LICENSE.for-installer.txt