.conda-timestamp
.archive.tar.gz
*.o
*.debug-o
*.d
*.genozip
*.gz
*.bz2
*.xz
!backward-compatability-test/*.genozip
*.exe
!windows/genozip-installer.exe
genozip
genounzip*
genocat*
genols*
genozip-debug*
1000genomes/*
data/*
benchmark.txt
notes.txt
to do.txt
junk*
meta.yaml
windows/LICENSE.for-installer.txt
mac/darwinpkg/Library/genozip/*
!mac/darwinpkg/Library/genozip
mac/Resources/*
mac/scripts/*
!.gitkeep
.DS_Store
*.vcf
!test-file.vcf
!backward-compatability-test/*.vcf
*stackdump
.altool_app_specifc_password
mac/.mac_username
mac/.mac_ip_address
mac/.remote_mac_timestamp
mac/.from_remote_timestamp
*.swp
.notarize.out
mac/*.pkg

