cl.exe -D_LARGEFILE64_SOURCE=1 -DVISUAL_C -O2 {{ src }} -link pthread-win32.lib /OUT genozip.exe

copy genozip.exe %PREFIX%\bin\genozip.exe
copy genozip.exe %PREFIX%\bin\genounzip.exe
copy genozip.exe %PREFIX%\bin\genocat.exe

exit /b 0

rem copy %RECIPE_DIR%\LICENSE.non-commerical.txt %PREFIX%
rem copy %RECIPE_DIR%\LICENSE.commerical.txt %PREFIX%

 
