#!/bin/bash 

# build script for conda - Linux & MacOS
apple=`echo $HOST|grep apple`
if [ ${#test} -eq 0 ] ; then 
   CONDA_LD=-s -lrt # Linux
else 
   CONDA_LD=
fi

%BUILD $CONDA_LD

cp $RECIPE_DIR/genozip $PREFIX/genozip
cp $RECIPE_DIR/genozip $PREFIX/genounzip
cp $RECIPE_DIR/genozip $PREFIX/genocat
cp $RECIPE_DIR/LICENSE.non-commerical.txt $PREFIX/
cp $RECIPE_DIR/LICENSE.commerical.txt $PREFIX/

