#!/bin/bash 

# build script for conda - Linux & MacOS

%BUILD

cp $RECIPE_DIR/vczip $PREFIX/vczip
cp $RECIPE_DIR/vczip $PREFIX/vcpiz
cp $RECIPE_DIR/vczip $PREFIX/vccat
cp $RECIPE_DIR/LICENSE.non-commerical.txt $PREFIX/
cp $RECIPE_DIR/LICENSE.commerical.txt $PREFIX/

